# @argo:registry=https://oss-dev-nexus.apps.devops.az.internal/repository/npm-group-rc-r/
# strict-ssl=false
# registry=https://oss-dev-nexus.apps.devops.az.internal/repository/npm-proxy/
# strict-ssl=false
